footer {
  background-color: #4b7f52;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
footer > h5 {
  font-size: 1.3rem;
  color: #d0baad;
  margin: 0 0 5px;
}
footer > .socials > * {
  color: white;
  margin: 10px;
  font-size: 1.1rem;
}
