.login-register {
  width: 100vw;
  height: 100vh;
  background-color: #c6f2ab;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login-register-heading > h1 {
  font-size: 8rem;
}
.login-register-heading > h5 {
  margin-top: -20px;
  padding-left: 10px;
  font-size: 2.7rem;
  font-weight: normal;
  color: #aa968a;
}
.login-register-form {
  display: flex;
  flex-direction: column;
}

.login-register-form > h2 {
  font-family: "Norwester", sans-serif;
  text-align: center;
  font-size: 2.5rem;
}
.login-register-form > input {
  font-size: 2rem;
  margin-bottom: 20px;
  border: 1px solid #707070;
  border-radius: 7px;
}
.login-register-form button {
  font-size: 1.5rem;
}
.login-register-form p {
  margin-top: 5px;
  text-align: center;
}

.login-register-link {
  color: #aa968a;
}
