.posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.new-post-link {
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #4b7f52;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
  line-height: 0;
  border: none;
  border-radius: 60px;
  transition: all 0.5s ease-out;
}

.new-post-link:hover {
  background-color: #c6f2ab;
  color: black;
}

.show-options {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.763);
  top: 0px;
  left: 0px;
}

.options-box {
  background-color: #4b7f52;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 7px;
}

.options-links {
  margin-top: 5px;
  display: flex;
}

.options-links > *,
.cancel-button {
  font-size: 1.5rem;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  background-color: #aa968a;
  color: white;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.25s ease-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cancel-button {
  background-color: black;
}

.options-links > *:hover {
  background-color: #aa968ac8;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
